[Unit]
Description=Tacacs+ D-Bus Daemon

[Service]
Type=dbus
BusName=net.vyatta.tacplus
EnvironmentFile=/var/run/tacplus.env
ExecReload=/bin/kill -SIGHUP $MAINPID
ExecStart=/usr/sbin/exec-tacplusd
KillSignal=SIGTERM
Restart=on-failure
# should be maximum socket timeout permitted
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
